In [1]:
import pandas as pd

In [51]:
df = pd.read_csv("zoopla.csv")
df

,link,price,bedrooms,bathrooms,receptions,area,address,date,description,title,image
0,https://www.zoopla.co.uk//for-sale/details/443...,"£194,995",1.0,1.0,1.0,NaN,"Pedley Road, Chadwell Heath, Romford RM8",18th Apr 2020,Chain free - long lease - cul-de-sac LOCATIONI...,1 bed flat for sale,https://lid.zoocdn.com/354/255/f12595de66d1b3e...
1,https://www.zoopla.co.uk//for-sale/details/547...,"£650,000",4.0,1.0,1.0,NaN,"Redstart Close, London E6",17th Apr 2020,"Book online today 24/7 at ** £650,000** **vide...",4 bed detached house for sale,https://lid.zoocdn.com/354/255/e7d432c46014960...
2,https://www.zoopla.co.uk//for-sale/details/547...,"£400,000",1.0,1.0,1.0,NaN,"Malmesbury Road, London E3",17th Apr 2020,"Guide price 400,000-425,000. Exciting property...",1 bed terraced house for sale,https://lid.zoocdn.com/354/255/44ca8af37ac5295...
3,https://www.zoopla.co.uk//new-homes/details/54...,"£395,000",1.0,NaN,NaN,NaN,"Lime Quarter, Devons Road, London E3",17th Apr 2020,Stunning one bedroom apartment in the new Lime...,1 bed flat for sale,https://lid.zoocdn.com/354/255/63145dfcdf499ee...
4,https://www.zoopla.co.uk//new-homes/details/54...,"£575,000",2.0,NaN,NaN,NaN,"Greenwich Square - Courtyard, London SE10",17th Apr 2020,Beautiful two bed apartment at Courtyard at Gr...,2 bed flat for sale,https://lid.zoocdn.com/354/255/92fad3404980ad5...
...,...,...,...,...,...,...,...,...,...,...,...
2495,https://www.zoopla.co.uk//for-sale/details/546...,"£1,600,000",2.0,2.0,1.0,NaN,"Ormonde Terrace, Primrose Hill, Greater London...",25th Mar 2020,2 Bed | 2 Bath | Refurbishment Completed in 20...,2 bed flat for sale,https://lid.zoocdn.com/354/255/f9d8e3d8aa28d91...
2496,https://www.zoopla.co.uk//for-sale/details/546...,"£650,000",3.0,2.0,1.0,NaN,"Longton Grove, London SE26",25th Mar 2020,A beautifully stylish and well presented three...,3 bed flat for sale,https://lid.zoocdn.com/354/255/ca78d4a7200aaea...
2497,https://www.zoopla.co.uk//for-sale/details/546...,"£1,200,000",4.0,2.0,2.0,NaN,"Jeddo Road, London W12",25th Mar 2020,A charming four double bedroom family home wit...,4 bed terraced house for sale,https://lid.zoocdn.com/354/255/adb213efa501a26...
2498,https://www.zoopla.co.uk//for-sale/details/546...,"£279,995",2.0,1.0,1.0,NaN,"Exeter Road, Ponders End, Enfield EN3",25th Mar 2020,**Online Viewing Via Video Tour Tab** **availa...,2 bed flat for sale,https://lid.zoocdn.com/354/255/420435a1c57a9d5...
2499,https://www.zoopla.co.uk//for-sale/details/546...,"£675,000",5.0,NaN,NaN,NaN,"Clarkes Avenue, Worcester Park, Surrey KT4",25th Mar 2020,**click the video tour link to conduct your vi...,5 bed detached house for sale,https://lid.zoocdn.com/354/255/9235a4e3e04a9b7...

In [52]:
df[["bedrooms","bathrooms","receptions"]] = df[["bedrooms","bathrooms","receptions"]].fillna(0).astype('int32')
df["postcode"] = df["address"].str.split().str[-1]

In [62]:
postcodes = list(pd.read_csv("postcodes.csv")["0"])
df = df[df['postcode'].isin(postcodes)]

In [70]:
df['price'] = df['price'].str.replace(',', '').str.replace('£', '')

<ipython-input-70-92b48c41c00a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'] = df['price'].str.replace(',', '').str.replace('£', '')

In [103]:
df = df[df["price"] != "POA"]
df["price"] = df["price"].astype("int64")

<ipython-input-106-db12e5a92151>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"] = df["price"].astype("int64")

In [107]:
df

,link,price,bedrooms,bathrooms,receptions,area,address,date,description,title,image,postcode
0,https://www.zoopla.co.uk//for-sale/details/443...,194995,1,1,1,NaN,"Pedley Road, Chadwell Heath, Romford RM8",18th Apr 2020,Chain free - long lease - cul-de-sac LOCATIONI...,1 bed flat for sale,https://lid.zoocdn.com/354/255/f12595de66d1b3e...,RM8
1,https://www.zoopla.co.uk//for-sale/details/547...,650000,4,1,1,NaN,"Redstart Close, London E6",17th Apr 2020,"Book online today 24/7 at ** £650,000** **vide...",4 bed detached house for sale,https://lid.zoocdn.com/354/255/e7d432c46014960...,E6
2,https://www.zoopla.co.uk//for-sale/details/547...,400000,1,1,1,NaN,"Malmesbury Road, London E3",17th Apr 2020,"Guide price 400,000-425,000. Exciting property...",1 bed terraced house for sale,https://lid.zoocdn.com/354/255/44ca8af37ac5295...,E3
3,https://www.zoopla.co.uk//new-homes/details/54...,395000,1,0,0,NaN,"Lime Quarter, Devons Road, London E3",17th Apr 2020,Stunning one bedroom apartment in the new Lime...,1 bed flat for sale,https://lid.zoocdn.com/354/255/63145dfcdf499ee...,E3
4,https://www.zoopla.co.uk//new-homes/details/54...,575000,2,0,0,NaN,"Greenwich Square - Courtyard, London SE10",17th Apr 2020,Beautiful two bed apartment at Courtyard at Gr...,2 bed flat for sale,https://lid.zoocdn.com/354/255/92fad3404980ad5...,SE10
...,...,...,...,...,...,...,...,...,...,...,...,...
2495,https://www.zoopla.co.uk//for-sale/details/546...,1600000,2,2,1,NaN,"Ormonde Terrace, Primrose Hill, Greater London...",25th Mar 2020,2 Bed | 2 Bath | Refurbishment Completed in 20...,2 bed flat for sale,https://lid.zoocdn.com/354/255/f9d8e3d8aa28d91...,NW8
2496,https://www.zoopla.co.uk//for-sale/details/546...,650000,3,2,1,NaN,"Longton Grove, London SE26",25th Mar 2020,A beautifully stylish and well presented three...,3 bed flat for sale,https://lid.zoocdn.com/354/255/ca78d4a7200aaea...,SE26
2497,https://www.zoopla.co.uk//for-sale/details/546...,1200000,4,2,2,NaN,"Jeddo Road, London W12",25th Mar 2020,A charming four double bedroom family home wit...,4 bed terraced house for sale,https://lid.zoocdn.com/354/255/adb213efa501a26...,W12
2498,https://www.zoopla.co.uk//for-sale/details/546...,279995,2,1,1,NaN,"Exeter Road, Ponders End, Enfield EN3",25th Mar 2020,**Online Viewing Via Video Tour Tab** **availa...,2 bed flat for sale,https://lid.zoocdn.com/354/255/420435a1c57a9d5...,EN3
2499,https://www.zoopla.co.uk//for-sale/details/546...,675000,5,0,0,NaN,"Clarkes Avenue, Worcester Park, Surrey KT4",25th Mar 2020,**click the video tour link to conduct your vi...,5 bed detached house for sale,https://lid.zoocdn.com/354/255/9235a4e3e04a9b7...,KT4